{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-6 mx-auto">
        <h1>Please log in</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a
                            href="{{ path('leap_one_user_logout') }}">Logout</a>
                </div>
            {% endif %}

            {{ form(form) }}

            <div>
                <span>
                    <a href="{{ path('leap_one_user_reset_password') }}">{{ 'message.forgotPassword' | trans }}</a>
                </span>
            </div>
    </div>
{% endblock %}
